@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
}

a {
  text-decoration: none;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #543f2a;
  position: fixed;
  gap: 5px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  margin-top: -5px;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0, 5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/voli2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  line-height: 1;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 500;
  color: #fff;
}

/* main  */
.about,
.contact {
  padding: 8rem 15% 1.4rem;
}

.about {
  margin-bottom: 70px;
  background-image: url(/img/bg.jpg);
}

.about h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45 rem;
}

.about .row .about-img img {
  width: 500px;
  margin-top: -110px;
  margin-left: 80px;
}

.navbar-logo img {
  width: 120px;
  position: absolute;
  margin-top: -45px;
}

.content p {
  text-align: justify;
  color: white;
  line-height: 30px;
  font-style: italic;
  font: bold;
  margin-right: 20px;
}

/* medsos */

.social-media {
  height: 100%;
  display: flex;
  position: absolute;
  right: 2px;
  top: 95%;
}

.social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #2d3e50;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.social-media li {
  list-style-type: none;
}
.social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all 0.1s ease-in-out;
}

.social-media li a:hover {
  color: #89b0d9;
}

.cards {
  display: grid;
  margin-top: -100px;
  padding: 100px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

.card {
  height: 300px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgb(255, 238, 207);
  border-radius: 10px;
  cursor: pointer;
  transition: 500ms;
}
.card:hover {
  transform: scale(1.05);
}
/* artikel */
.article {
  background-color: #eaf;
  margin-top: 40px;
  padding: 100px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.article h2 {
  text-align: center;
  font-size: 40px;
  margin-top: -50px;
  margin-bottom: 50px;
}

.article .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article span:hover {
  color: var(--primary);
}

.article .article-img {
  max-width: 400px;
  margin-right: 20px;
}

.article .article-img img {
  width: 100%;
  height: auto;
  margin-top: -120px;
  border-radius: 20px;
  box-shadow: 4px 7px 7px 0px var(--bg);
  cursor: pointer;
  transition: 400ms;
}

.article-img:hover {
  transform: scale(1.02);
}

.article .content {
  flex: 1;
}

.article h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.article p {
  color: #010101;
  margin-bottom: 200px;
  text-align: justify;
}

/* artikel end */

/* bagian kontak */
.contact .row {
  border-radius: 20px;
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  border-top-left-radius: 20px;
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact h2,
p {
  color: #fff;
  text-align: center;
}

.contact p {
  font-style: italic;
}

.contact .row form .input-group {
  border-radius: 20px;
  display: flex;
  color: #fff;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.5rem;
  background-color: var(--primary);
  cursor: pointer;
}

.btn {
  border-radius: 15px;
  padding: 10px 20px;
  width: 200px;
}

/* kontak end */

/* footer  */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 8px;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: -35px;
}

footer .links a {
  color: #fff;
  padding: 0.7rem -50px;
}

footer .credit {
  margin-top: 5px;
  font-size: 0.8rem;
  padding: auto;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}
/* footer end */

/* Media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 40rem;
    margin-top: -20px;
    margin-block-end: 30px;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
  .content p {
    color: white;
    line-height: 30px;
    font-style: italic;
    font: bold;
    margin-right: 10px;
    margin-left: 10px;
  }

  .social-media ul {
    padding: 1.5rem 1rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #2d3e50;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-right: -1px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .navbar-logo img {
    height: -40px;
  }

  .about .row .about-img img {
    width: 300px;
    margin-top: -50px;
    margin-left: auto;
  }

  .content p {
    margin-top: 10;
    text-align: justify;
    margin-right: 5px;
  }
  .social-media ul {
    padding: 1.5rem 1rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #2d3e50;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-right: 0px;
    margin-top: 180px;
  }

  .contact {
    width: 435px;
    padding-left: 10px;
  }

  .navbar-logo {
    width: 60px;
  }

  footer .links {
    margin-bottom: -5px;
  }
  .card {
    height: 200px;
    width: 250px;
    padding-right: 70px;
  }

  .juara {
    font-size: 14px;
    padding: -10px;
  }

  .article-img img {
    position: fixed;
  }
}
